<!DOCTYPE html>
<html>
<head>
	<title>Butterfly Prediction Page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./index.css') }}" />
</head>
<body>
	<div class="container">
		<h1>Butterfly Prediction Page</h1>
        <form id="upload-file" method="post" enctype="multipart/form-data" action="/predict">
            <label for="imageUpload" class="upload-label">
                Choose an Image
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">

            <span class="file-name"></span>
		    <button id="predictButton", type="submit">Predict</button>
        </form>
		<!-- <label for="imageUpload">Choose Image</label>
		<input type="file" id="imageUpload"> -->

		<h2 id="answer">{{ predictionText }}</h2>
		
	</div>

    

	<script>
		const imageUpload = document.getElementById('imageUpload');
		const fileName = document.querySelector('.file-name');

		imageUpload.addEventListener('change', () => {
			fileName.textContent = imageUpload.files[0].name;
		});
	</script>
</body>
</html>

